@charset "utf-8";

/*
  
  Grid layout for the home page
  
  filename: grid.css

*/

/* Grids */
div.grid {
  clear: both;
  display: grid;
}

div.row::after {
    clear:both;
    content: "";
    display: table;
}

div.column-1-6 {
    float: left;
    width: 16.5%;
}

div.column-1-2 {
    float: left;
    width: 50%;
}
