@charset "utf-8";

/*
  
  Reset page for the Portfolio
  
  filename: layout.css

*/


/* HTML and Body styles */

html {
  background: white;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: lightgray;
  box-shadow: rgb(51, 51, 51) 10px 0px 25px, rgb(51, 51, 51) -10px 0px 25px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  min-height: 100%;   
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  width:90%

}


header h1 {
  font-size: 1.7em;
  font-weight: bold;
  color: darkorange;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Didot, serif;
}

/* Table Navigation Styles */

header {
  height: 20%;
  background-color: Turquoise;
}

table.nav {
  min-height: 2em;
  width: 100%;
  border-collapse: collapse;
}

table.nav a {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid blue;
}

table.nav a:visited, table.nav a:link {
  color: blue;
}

table.nav a:hover, table.nav a:active {
  background-color: rgb(31, 73, 125);
  color: white;
}

a#navicon {
  display: none;
}

/* Footer Styles */

footer {
  clear: both;
  width: 100%;
}

footer p {
  text-align: center;
  vertical-align: center;
}

footer a {
  color: black;
}










 
