@charset "utf-8";

/*
  
  Reset page for the Portfolio
  
  filename: layout.css

*/

/* Section Styles */
section {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

section dl {
  margin-left: 7%;
  margin-right: 7%;
}

section dt {
  font-size: 1.2em;
  font-weight: bold;
  font-family: Georgia, serif;
  margin-bottom: 1%;
  text-align: center;
}

section dt a:hover, section dt a:active {
  color: blue;
}

section dd {
  margin-bottom: 2%;
}

section img {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

section img.review {
  background-color: white;
}

table.image {
  border-collapse: collapse;
  margin-left: 1%;
  margin-right: 1%;
}

table.image td {
  padding: 0px 0px 0px 0px;
  width: 16.2%;
}

table.image img {
  width: 9vw;
  height: 9vw;
}

thead td {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.2em;
}

section img.selfImg {
  clear: both;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 640px) {
  
  div.grid {
    display: block;
    clear: both;
  }

  div.column-1-2 {
    clear: both;
    width: 100%;
  }
  
  section dl {
    text-align: center;
    margin-left: -1%;
    padding-right: 4%;
  }
}






 
