@charset "utf-8";

/*
  
  Mobile styles page for the Portfolio
  
  filename: mobile.css

*/

/* Mobile Styles */

@media only screen and (max-width: 640px) {
  
  body {
    width: 100%;
    box-shadow: inset gray 10px 0px 25px, inset gray -10px 0px 25px;
  }
  
  a#navicon {
    display: block;
  }
  
  table.mnav, table.nav, table.image {
    display: none;
  }
  
  header {
    width: 100%;
  }
  
  a#navicon:hover+table.mnav, header table.mnav td:hover {
    display: block;
  }
   
  section img {
    display: none;
  }
  
  footer{
    -webkit-order: 100;
    order: 100;
  }
  
}

@media only screen and (min-width: 641px) {
  
  table.mnav {
    display: none;
  }
  
  header {
  background-image: url("header.jpg");
  /* Image found on https://www.goodfreephotos.com */
  }
} 

@media only print {
  
  html, body, header, section, table {
    background: none;
    color: black;
  }
  
  body {
    width: 100%;
    box-shadow: none;
    orphans: 3;
    widows: 3;
  }
  
  table.mnav, table.nav, table.image, section img {
    display: none;
  }

}
