@charset "utf-8";

/*
  
  Reset page for the Portfolio
  
  filename: p_layout.css

*/

/* Section styles */
section {
  margin-left: 5%;
  margin-right: 5%;
}

section dl dt.mainH {
  font-size: 1.5em;
}

section dt a {
  font-weight: bold;
  color: blue;
}

section dt a:hover, section dt a:active {
  color: orange;
}









