@charset "utf-8";

/*
  
  Reset page for the Portfolio
  
  filename: reset.css

*/


/* HTML and Body styles */

html {
  background: white;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: cornsilk;
  box-shadow: rgb(51, 51, 51) 10px 0px 25px, rgb(51, 51, 51) -10px 0px 25px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  min-height: 100%;   
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  width:90%

}


header h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: orangered;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Horizonal Navigation Styles */

header::after {
  clear: both;
  content: "";
  display: table;
}

header {
  height: 20%;
  background-color: rgb(117, 140, 72);
}

table.horizontal {
  min-height: 2em;
}

table.horizontal a {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: rgb(31, 73, 125);
  text-transform: uppercase;
  text-decoration: none;
}

nav.horizontal a:visited, nav.horizontal a:link {
  color: rgb(31, 73, 125);
}

nav.horizontal a:hover, nav.horizontal a:active {
  background-color: rgb(31, 73, 125);
  color: white;
}

a#navicon {
  display: none;
}
 
